@model BOL.Common.CustomerPaymentPlanModel

@{
    ViewBag.Title = "CreateCustomerPaymentPlan";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/Theme/dist/css/alt/select2.min.css" rel="stylesheet" />
<!-- Select2 -->
<!-- Select2 -->
@*<link rel="stylesheet" href="~/Content/Theme/plugins/select2/select2.min.css">*@
<script src="~/Content/Theme/plugins/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/Theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/Custom.css" rel="stylesheet" />

@using (Html.BeginForm("SaveCustomerPaymentPlan", "PaymentPlan", FormMethod.Post))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        @if (TempData["message"] != null)
        {
            @TempData["message"];
        }
    </div>
    <div class="box box-primary">
        <div class="container">

            <div class="box-header with-border">
                <h3 class="box-title">Customer Payment Plan</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label">
                            Plan Name
                        </label>
                        <div class="col-10">
                            <select class="form-control select2  ddnPlanId" style="width: 100%;" name="PlanId">
                                <option value="0">Select</option>

                                @if (Model.PaymentPlanMasterLists != null)
                                {
                                    foreach (var item in Model.PaymentPlanMasterLists)
                                    {
                                        string isSelected = string.Empty;
                                        if (item.Id == Model.PlanId)
                                        {
                                            isSelected = "selected";
                                        }
                                        <option value="@item.Id" @isSelected>@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="example-search-input" class="col-2 col-form-label">Creation Date </label>
                        <div class="col-10">
                            <input type="text" name="CreatedDate" class="form-control" id="datepicker">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label">
                            Invoice#
                        </label>
                        <div class="col-10">
                            <div class="form-group">
                                <select class="form-control select2  ddnInvoiceId" aria-hidden="true" name="InvoiceId">
                                    <option value="0">Select</option>

                                    @if (Model.OrderList != null)
                                    {
                                        foreach (var item in Model.OrderList)
                                        {
                                            string isSelected = string.Empty;
                                            if (item.ID == Model.Id)
                                            {
                                                isSelected = "selected";
                                            }
                                            <option value="@item.ID" @isSelected>@item.InvoiceNumber</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="example-search-input" class="col-2 col-form-label">Invoice Amount</label>
                        <div class="col-10">
                            @Html.TextBoxFor(x => x.InvoiceAmount, new { @class = "form-control", @placeholder = "Invoice Amount" })
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label>Months</label>
                        <input type="text" value="@Model.Months" id="Months" name="Months" class="form-control" readonly />
                    </div>
                    <div class="col-md-5">
                        <label>Amount Per Month </label>
                        <input type="text" value="@Model.AmountPerMonth" id="AmountPerMonth" name="AmountPerMonth" class="form-control" readonly />

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label>Start Date </label>
                        <input type="text" name="StartDate" class="form-control" id="datepicker1">
                    </div>

                    <div class="col-md-5">
                        <label>Notes</label>
                        <textarea name="Notes" class="form-control"></textarea>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-1">
                        @if (Model.Id != null && Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-success" data-id="@Model.Id" id="btnRegisterUpdate">
                                Update
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success" data-id="0" id="btnRegister">
                                Submit
                            </button>
                        }
                    </div>
                    <div class="col-md-1">
                        <button value="Edit"
                                class="btn btn-danger" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Index", "PaymentPlan")'">
                            Cancel
                        </button>
                    </div>
                </div>

            </div>



        </div>
    </div>

}
@*<script src="~/Content/Theme/plugins/select2/select2.full.js"></script>*@
<script src="~/Content/Theme/plugins/select2/select2.full.min.js"></script>


<script>

    $(document).ready(function () {

        $('.ddnPlanId').change(function () {

            $.ajax({
                url: folderBaseURL + 'Admin/PaymentPlan/GetMonths?PlanId=' + this.value,
                type: 'GET',
                success: function (response) {
                    if (response!=null) {
                        $("#Months").val(response);
                    }
                }
            });
        });

        $('.ddnInvoiceId').change(function () {

            $.ajax({
                url: folderBaseURL + 'Admin/PaymentPlan/GetAmout?InvoiceId=' + this.value,
                type: 'GET',
                success: function (response) {
                    if (response != null) {
                        $("#InvoiceAmount").val(response);

                        var invamount = parseInt($("#InvoiceAmount").val());
                        var months = parseInt($("#Months").val());
                        var res = invamount / months;
                        $("#AmountPerMonth").val(res);
                    }
                }
            });
        });


    });
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
    $(function () {
        //Date picker

        $('#datepicker').datepicker({
            autoclose: true
        });
        //Current Date Selection
        $("#datepicker").datepicker("setDate", new Date());

        $('#datepicker1').datepicker({
            autoclose: true
        });

    });
</script>
