
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}


<!-- Main content -->
<div class="row">
    <div class="col-md-6" id="success-alert">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible ">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    @TempData["Message"]

                </h4>

            </div>
        }
    </div>
</div>
<section class="content">
    <!-- Small boxes (Stat box) -->

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@TempData["NewUserRegistration"]</h3>

                    <p>New User Registration</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/Admin/UserRegistration/Create" class="small-box-footer">New User <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@TempData["Categories"]</h3>
                    <p> Categories </p>
                </div>
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <a href="~/Admin/Customer/Index" class="small-box-footer"> All Customers <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@TempData["Products"]</h3>
                    <p> Products </p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/Admin/Product/Index" class="small-box-footer"> All Products <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@TempData["Orders"]</h3>
                    <p> Orders </p>
                </div>
                <div class="icon">
                    <i class=""></i>
                </div>
                <a href="~/Admin/OrderedLists/Index" class="small-box-footer"> All Orders <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
    </div>

</section>
<!-- /.content -->